
<h1>hello, <%= @name %></h1>
<p>the time is now <%= formatted_time(@time) %></p>
<p>this page has been displayed <%= @time_displayed %> times </p>
<p><%=link_to "google", "http://www.google.com" %></p>
<p><%=link_to "Goodbye",greeter_goodbye_path%> </p>